<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="image.css">
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="light theme || dark theme">
    <header class="header">
        <nav class="navbar">
            <!-- logo -->
            <a class="logo" href="index.html">
                <span class="nav-logo">
                    LILAC UI
                </span>
            </a>
    
            <!-- nav links -->
            <div class="nav-links">
                <a href="docs.html" class="nav-items"><span>Docs</span></a>
                <a href="https://github.com/muskan-gupta-0803/LilacUI" class="nav-items"><span>Github</span></a>
                <a href="#" class="nav-items"><span>
                    <i class="fas fa-sun btn-toggle"></i>
                </span></a>
            </div>
        </nav>
    </header>

    <div class="doc-container">
    <!-- every page same menu -->
        <aside class="menu-all">
            <ul class="doc-list ma-list">
                <h5 class="ma-heading">Get Started</h5>
                <li class="ma-item"><a class="ma-link" href="/docs.html">Introduction </a></li>
                <li class="ma-item"><a class="ma-link" href="../Utilities/utilities.html">Utilities </a></li>
                <h5 class="ma-heading">Components</h5>
                <li class="ma-item"><a class="ma-link" href="../Alert/alert.html">Alert </a></li>
                <li class="ma-item"><a class="ma-link" href="../Avatar/avatar.html">Avatar </a></li>
                <li class="ma-item"><a class="ma-link" href="../Badge/badge.html">Badge </a></li>
                <li class="ma-item"><a class="ma-link" href="../Button/button.html">Button </a></li>
                <li class="ma-item"><a class="ma-link" href="../Card/card.html">Card </a></li>
                <li class="ma-item"><a class="ma-link" href="image.html">Image </a></li>
                <li class="ma-item"><a class="ma-link" href="../Input/input.html">Input </a></li>
                <li class="ma-item"><a class="ma-link" href="../List/list.html">List </a></li>
                <li class="ma-item"><a class="ma-link" href="../Navigation/navigation.html">Navigation </a></li>
                <li class="ma-item"><a class="ma-link" href="../Modal/modal.html">Modal </a></li>
                <li class="ma-item"><a class="ma-link" href="../Rating/rating.html">Rating </a></li>
                <li class="ma-item"><a class="ma-link" href="../Toast/toast.html">Toast </a></li>
                <li class="ma-item"><a class="ma-link" href="../Slider/slider.html">Slider </a></li>
                <li class="ma-item"><a class="ma-link" href="../Grid/grid.html">Simplified Grid </a></li>
            </ul>
        </aside>


    <!-- main body area -->
        <main class="main">
            <section class="intro">
                <h1 class="para-heading" >IMAGE</h1>
                <p class="doc-para">
                    To start using the image components in your project, use the code snipppets below.
                </p>
                             

                <!-- ROUND IMAGE -->
                <h2 class="para-heading" id="r-img">Round-Image</h2>
                <p class="doc-para">
                    A round image is the one that is circular in shape. Use class "img-round" for this component.

                </p>
                <div class="comp-container ">
                    <img class="img-round" src="https://picsum.photos/200/300" alt="">
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=32px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-round%2522%2520src%253D%2522%2522%2520alt%253D%2522%2522%253E"
                style="width: 100%; height: 157px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-top: 1rem;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <!-- RESPONSIVE IMAGE -->
                <h2 class="para-heading" id="res-img">Responsive-Image</h2>
                <p class="doc-para">
                    A Responsive image is the one that adjusts its height and width according to the screen size. Use class "img-responsive" for this component.
                </p>
                <div class="comp-container comp-img-container">
                    <img class="img-responsive" src="https://picsum.photos/200/200" alt="">
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=32px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522%2522%2520alt%253D%2522%2522%253E"
                style="width: 100%; height: 157px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-top: 1rem;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

            </section>
        </main>

        <!-- on page menu -->
        <aside class="menu-page">            
            <ul class="doc-list mp-list">
                <h5 class="mp-heading">On this page</h5>
                <li class="mp-item"><a class="mp-link" href="#r-img">Round Image</a> </li>
                <li class="mp-item"><a class="mp-link" href="#res-img">Responsive Image</a> </li> 
            </ul>
        </aside>
    </div>

    <footer class="footer">
        <!-- To be added -->
    </footer>

    <script src="/app.js"></script>
</body>
</html>
