@import "/docs.css";

.input-text{
    padding: 0.3rem;
    margin:0.5rem;
    font-size: 1rem;
    border-radius: 2px;
}

.form-validate span{
    border:none;

}
.form-label{
    font-size: 1.1rem;
}

.form-success{
    color:#008000;
    border:1px solid #008000;
}

.form-error{
    color: #ff0000;
    border: 1px solid #ff0000;
}
