<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilities</title>
    <link rel="stylesheet" href="utilities.css">
    <link rel="shortcut icon" href="images/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="light theme || dark theme">
    <header class="header">
        <nav class="navbar">
            <!-- logo -->
            <a class="logo" href="index.html">
                <span class="nav-logo">
                    LILAC UI
                </span>
            </a>
    
            <!-- nav links -->
            <div class="nav-links">
                <a href="docs.html" class="nav-items"><span>Docs</span></a>
                <a href="https://github.com/muskan-gupta-0803/LilacUI" class="nav-items"><span>Github</span></a>
                <a href="#" class="nav-items btn-toggle"><span>
                    <i class="fas fa-sun"></i>
                </span></a>
            </div>
        </nav>
    </header>

    <div class="doc-container">
    <!-- every page same menu -->
        <aside class="menu-all">
            <ul class="doc-list ma-list">
                <h5 class="ma-heading">Get Started</h5>
                <li class="ma-item"><a class="ma-link" href="/docs.html">Introduction </a></li>
                <li class="ma-item"><a class="ma-link" href="utilities.html">Utilities </a></li>
                <h5 class="ma-heading">Components</h5>
                <li class="ma-item"><a class="ma-link" href="../Alert/alert.html">Alert </a></li>
                <li class="ma-item"><a class="ma-link" href="../Avatar/avatar.html">Avatar </a></li>
                <li class="ma-item"><a class="ma-link" href="../Badge/badge.html">Badge </a></li>
                <li class="ma-item"><a class="ma-link" href="../Button/button.html">Button </a></li>
                <li class="ma-item"><a class="ma-link" href="../Card/card.html">Card </a></li>
                <li class="ma-item"><a class="ma-link" href="../Image/image.html">Image </a></li>
                <li class="ma-item"><a class="ma-link" href="../Input/input.html">Input </a></li>
                <li class="ma-item"><a class="ma-link" href="../List/list.html">List </a></li>
                <li class="ma-item"><a class="ma-link" href="../Navigation/navigation.html">Navigation </a></li>
                <li class="ma-item"><a class="ma-link" href="../Modal/modal.html">Modal </a></li>
                <li class="ma-item"><a class="ma-link" href="../Rating/rating.html">Rating </a></li>
                <li class="ma-item"><a class="ma-link" href="../Toast/toast.html">Toast </a></li>
                <li class="ma-item"><a class="ma-link" href="../Slider/slider.html">Slider </a></li>
                <li class="ma-item"><a class="ma-link" href="../Grid/grid.html">Simplified Grid </a></li>
            </ul>
        </aside>


    <!-- main body area -->
        <main class="main">
            <section class="intro">
                <h1 class="para-heading" >UTILITIES</h1>
                <p class="doc-para">
                    Input elements are mainly used to take user's information and then store or use them as required.
                </p>
                             

                <!-- HEADINGS -->
                <h2 class="para-heading" id="u-heading">Headings</h2>
                <p class="doc-para">
                    In CSS, there are 6 headings from H1 to H6. LILAC UI provides 5 different heading sizes, from H1 TO H5 , H1 being the largest and H5 the smallest.
                </p>
                <div class="comp-container col-container">
                    <h1 class="lilac-h1">h1 - Heading 1 </h1>
                    <h2 class="lilac-h2">h2 - Heading 2 </h2>
                    <h3 class="lilac-h3">h3 - Heading 3 </h3>
                    <h4 class="lilac-h4">h4 - Heading 4 </h4>
                    <h5 class="lilac-h5">h5 - Heading 5 </h5>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=46px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%253D%2522lilac-h1%2522%253Eh1%2520-%2520Heading%25201%2520%253C%252Fh1%253E%250A%253Ch2%2520class%253D%2522lilac-h2%2522%253Eh2%2520-%2520Heading%25202%2520%253C%252Fh2%253E%250A%253Ch3%2520class%253D%2522lilac-h3%2522%253Eh3%2520-%2520Heading%25203%2520%253C%252Fh3%253E%250A%253Ch4%2520class%253D%2522lilac-h4%2522%253Eh4%2520-%2520Heading%25204%2520%253C%252Fh4%253E%250A%253Ch5%2520class%253D%2522lilac-h5%2522%253Eh5%2520-%2520Heading%25205%2520%253C%252Fh5%253E"
                style="width: 100%; height: 259px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-left: 1rem;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
                

                <!-- TEXT TYPOGRAPHY -->
                <h2 class="para-heading" id="u-typography">Text Typography</h2>
                <p class="doc-para">
                    Text Typography represents the font-sizes of the textual content.
                </p>
                <div class="comp-container col-container">
                    <!-- text typography -->
                    <p class="fs-xxl">This is an very large text. </p>
                    <p class="fs-xl">This is extra large text.</p>
                    <p class="fs-lg">This is large text.</p>
                    <p class="fs-md">This is normal text.</p>
                    <p class="fs-sm">This is small text.</p>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=46px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522fs-xxl%2522%253EThis%2520is%2520an%2520very%2520large%2520text.%2520%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-xl%2522%253EThis%2520is%2520extra%2520large%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-lg%2522%253EThis%2520is%2520large%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-md%2522%253EThis%2520is%2520normal%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-sm%2522%253EThis%2520is%2520small%2520text.%253C%252Fp%253E"
                style="width: 100%; height: 259px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-left: 1rem;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
                

                <!-- FONT WEIGHT -->
                <h2 class="para-heading" id="u-weight">Font Weight</h2>
                <p class="doc-para">
                    Font weight show how light or dark a text appears.
                </p>
                <div class="comp-container col-container">
                    <p class="fw-light">LIGHT TEXT</p>
                    <p class="fw-regular">REGULAR TEXT</p>
                    <p class="fw-semibold">SEMIBOLD TEXT</p>
                    <p class="fw-bold">BOLD TEXT</p>
                    <p class="fw-black">EXTRA BOLD TEXT</p>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=46px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522fw-light%2522%253ELIGHT%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-regular%2522%253EREGULAR%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-semibold%2522%253ESEMIBOLD%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-bold%2522%253EBOLD%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-black%2522%253EEXTRA%2520BOLD%2520TEXT%253C%252Fp%253E"
                style="width: 100%; height: 259px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-left: 1rem;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <!-- TEXT ALIGNMENT -->
                <h2 class="para-heading" id="u-align">Text Alignment</h2>
                <p class="doc-para">
                    Font weight show how light or dark a text appears.
                </p>
                <div class="ta-container">
                    <p class="align-left">LEFT TEXT</p>
                    <p class="align-center">CENTER TEXT</p>
                    <p class="align-right">RIGHT TEXT</p>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=46px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522align-left%2522%253ELEFT%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522align-center%2522%253ECENTER%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522align-right%2522%253ERIGHT%2520TEXT%253C%252Fp%253E"
                style="width: 100%; height: 222px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-left: 1rem;" sandbox="allow-scripts allow-same-origin">
                </iframe>

                <!-- TEXT DECORATION -->
                <h2 class="para-heading" id="u-decor">Text Decoration</h2>
                <p class="doc-para">
                    Basic text decorations include gray shade text, underline, overline, strike-through and small text.
                </p>
                <div class="comp-container col-container">
                    <p class="text-gray">GRAY TEXT</p>
                    <p class="text-darkgray">DARK GRAY TEXT</p>
                    <p class="text-overline">OVERLINED TEXT</p>
                    <p class="text-underline">UNDERLINED TEXT</p>
                    <p class="text-striked">STRIKED THROUGH TEXT</p>
                    <small>SMALL TEXT</small>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=46px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-gray%2522%253EGRAY%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-darkgray%2522%253EDARK%2520GRAY%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-underline%2522%253EUNDERLINED%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-striked%2522%253ESTRIKED%2520THROUGH%2520TEXT%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-overline%2522%253EOVERLINED%2520TEXT%253C%252Fp%253E%250A%253Csmall%253ESMALL%2520TEXT%253C%252Fsmall%253E"
                style="width: 100%; height: 278px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-left: 1rem;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <!-- TEXT DECORATION -->
                <h2 class="para-heading" id="u-radius">Border radius</h2>
                <p class="doc-para">
                    Basic text decorations include gray shade text, underline, overline, strike-through and small text.
                </p>
                <div class="comp-container">
                    <div class="br-sm br-div"></div>
                    <div class="br-md br-div"></div>
                    <div class="br-lg br-div"></div>
                    <div class="br-max br-div"></div>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28200%2C178%2C200%2C1%29&t=seti&wt=none&l=htmlmixed&width=746.25&ds=true&dsyoff=15px&dsblur=68px&wc=true&wa=true&pv=46px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522br-sm%2522%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522br-md%2522%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522br-lg%2522%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522br-ma%2522%253E%253C%252Fdiv%253E"
                style="width: 100%; height: 241px; border:0; transform: scale(1); overflow:hidden; margin-bottom: 3rem; margin-left: 1rem;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>                                                            

            </section>
        </main>

        <!-- on page menu -->
        <aside class="menu-page">            
            <ul class="doc-list mp-list">
                <h5 class="mp-heading">On this page</h5>
                <li class="mp-item"><a class="mp-link" href="#u-heading">Heading</a> </li>
                <li class="mp-item"><a class="mp-link" href="#u-typography">Typography</a> </li> 
                <li class="mp-item"><a class="mp-link" href="#u-weight">Font weight</a> </li>
                <li class="mp-item"><a class="mp-link" href="#u-align">Text Alignment</a> </li>
                <li class="mp-item"><a class="mp-link" href="#u-decor">Text Decoration</a> </li>
                <li class="mp-item"><a class="mp-link" href="#u-radius">Border Radius</a> </li>
            </ul>
        </aside>
    </div>

    <footer class="footer">
        <!-- To be added -->
    </footer>

    <script src="/app.js"></script>
</body>
</html>
