/* @import "../List/list.css"; */
@import "/docs.css";

/* list styles comment out later */
.list-style-none{
    list-style-type: none;
}

.list-inline{
    display:inline;
}

/* navigation styles */
.lilac-navbar{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background-color: var(--primary-color);
    height:6vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.lilac-nav-links{
    width:50%;
    display:flex;
    justify-content: space-evenly;
}

.lilac-nav-items{
    text-decoration: none;
    color:white;
}




